# --------------- 환경변수 설명 ---------------
# 이 프로그램에서는 글자 앞에 !가 붙으면 환경 변수로 인식합니다

# !Home - 프로그램을 실행하는 사용자의 홈 경로로 치환됩니다. (예: /home/fedora)
# -------------------------------------------

# 이것은 기본 설정입니다.
# 본인에게 맞게 변경하세요.

[Config]
EDK2_PATH = !Home/src
QEMU_PATH = !Home/run-ovmf

ACTIVE_PLATFORM = MdeModulePkg/MdeModulePkg.dsc
TOOL_CHAIN_TAG = GCC
TARGET_ARCH = X64
MAX_CONCURRENT_THREAD_NUMBER = 0

PROJECT_NAME = ToolOS
LOADER_NAME = BootLoader
VERSION = 0.0.1
FUNCTION_IN = BootMain

# ----------------------------------------------------